<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passing data to EJS template</title>
  </head>
  <body>
    <% if (locals.length) { %> <% console.log(locals) %>
    <h1>There are <%= length%>letters in your name</h1>
    <% } else {%>
    <h1>Enter your name</h1>
    <% } %>

    <form action="/submit" method="post">
      <input type="text" name="fname" placeholder="Enter First Name" />
      <input type="text" name="lname" placeholder="Enter Last Name" />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
