<form method="post" action="/postJokes">
  <div class="mb-3 d-flex gap-3 justify-content-center align-items-center">
    <label class="form-label col-6 fw-bold" for="id"> Enter Joke</label>
    <input class="form-control col-auto" name="jokeText" placeholder="Enter Joke" />
  </div>
  <div class="mb-3 d-flex gap-3 justify-content-center align-items-center">
    <label class="form-label col-6 fw-bold" for="id"> Enter Joke Type</label>
    <input class="form-control col-auto" name="type" placeholder="Enter Type" />
  </div>
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <button class="btn btn-secondary">Submit</button>
  </div>
</form>
