<form method="post" action="/specific">
  <div class="mb-3 d-flex gap-3 justify-content-center align-items-center">
    <label class="form-label col-4 fw-bold" for="id"> Enter Id</label>
    <input class="form-control col-auto" name="id" placeholder="Enter id" />
  </div>
  <div class="mb-3 d-flex gap-3 justify-content-center align-items-center">
    <label class="form-label col-4 fw-bold" for="id"> Enter Type</label>
    <input class="form-control col-auto" name="type" placeholder="Enter Type" />
  </div>
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <button class="btn btn-secondary">Submit</button>
  </div>
</form>
